{{template "base" .}}

{{define "content"}}
<div class="container">


    <div class="row">
        <div class="col">
            <h1>Make Reservation</h1>
            {{$ref := index .Data "reservation"}}
            <form action="/make-reservation" method="post" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="form-group mt-5">
                    <label for="first_name">First Name</label>
                    {{with .Form.Errors.Get "first_name"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" 
                    type="text" name="first_name" id="first_name" value="{{$ref.FirstName}}" required autocomplete="off">
                </div>
                <div class="form-group mt-3">
                    <label for="last_name">Last Name</label>
                    {{with .Form.Errors.Get "last_name"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" 
                    type="text" name="last_name" id="last_name" value="{{$ref.LastName}}" required autocomplete="off">
                </div>
                <div class="form-group mt-3">
                    <label for="email">Email</label>
                    {{with .Form.Errors.Get "email"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" 
                    type="email" name="email" id="email" value="{{$ref.Email}}" required autocomplete="off">
                </div>
                <div class="form-group mt-3">
                    <label for="phone">Phone No</label>
                    {{with .Form.Errors.Get "phone"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"
                    type="text" name="phone" id="phone" value="{{$ref.Phone}}" required autocomplete="off">
                </div>
                <hr>

                <input type="submit" class="btn btn-primary" value="Make Reservation">

            </form>
        </div>
    </div>



</div>
{{end}}